@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Nunito Sans', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: rgba(0, 0, 0, 0.87);
	background-color: #000;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
html {
	font-family: 'Nunito Sans', sans-serif;
}

a {
	font-weight: 500;
	color: #1521ff;
	text-decoration: inherit;
}
a:hover {
	color: #343ef8;
}

body {
	margin: 0;
	padding: 0;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
